@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body{
	font-family: 'Open Sans', arial, sans-serif;
	background: #E8e8e8;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #34495E;
	padding: 20px;
	z-index: 99;
}

header .button-menu{
	color: #FFF;
	font-size: 20px;
	cursor: pointer;
	
}


.navegacion{
	position: absolute;
	top: 100%;
	left: 0;
	height: 100vh;
}

.navegacion ul{
	width: 320px;
	height: 100%;
	background: #FFF;
	list-style: none;
	position: absolute;
	top: 0;
	left: -320px;

	transition: left .2s;
}

.navegacion .menu li.titulo-menu{
	padding: 20px;
	background: #5F6f81;
	color: #fff;
	text-align: center;
	font-size: 22px;
}

.navegacion .menu a{
	display: block;
	padding: 20px;
	border-bottom : 1px solid #c6d0da;  
	font-size: 22px;
	font-weight: lighter;
	text-decoration: none;
	color: #575d69;
}

.navegacion .menu li span.icon-menu{
	margin-right: 12px;
}

/*SUBMENU==========*/
.navegacion .menu .item-submenu > a::after{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	content: '\f105';
  	float: right;
}

.navegacion .submenu li.titulo-menu{
	background: #fff;
	color: #575d69;
}

.navegacion .submenu li.atras{
	padding: 10px 20px;
	background: #5F6f81;
	color: #FFF;
	font-size: 18px;
	cursor: pointer;
}

.navegacion .submenu li.atras::before{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	content: '\f0d9';
  	margin-right: 10px;

}


div.main{
	position: absolute;
	padding: 80px;
	z-index: -1;
	left: 0;
	transition: left .2s;
	overflow-wrap: normal; 
	min-width: 100%;
	overflow: hidden;
}


div.site-cache{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all linear 0.2s;
	z-index: 0;
	height: 100%;
	background-color: rgba(0,0,0,.3);

}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 768px){

	div.main{
		padding: 80px 20px 20px 30px;
	}
	.navegacion .menu a{
		padding: 15px;
	}

}


